<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img style="width: 100vw;height: 100vh;" src="https://media4.giphy.com/media/dZAtisreEIo5HkGU3w/giphy.gif?cid=6c09b952882e138eefb9ae44ac62a458abc6d07349b65660&rid=giphy.gif&ct=g" alt="closed"/>
</body>
</html>